@model Ninja.Models.Computer
@{
    ViewData["Title"] = "Create Topic";
}

<form method="post" asp-action="Save">
  <div class="border p-3">
    <div class="form-group row">
      <h2 class="text-black-50 pl-3">Add Forum Topic</h2>
    </div>
    <div class="form-group row">
      <div class="col-12">
        <input asp-for="Title" class="form-control" value="Forum Title..." />
        <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="col-12">
        <input asp-for="Content" class="form-control" value="Forum Content..." />
        <span asp-validation-for="Content" class="text-danger"></span>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-4 offset-2 row">
        <input asp-action="Save" type="submit" class="btn btn-info w-75" value="Create" />
      </div>
      <div class="col-4">
        <a asp-action="Index" class="btn btn-danger w-75">Back</a>
      </div>
    </div>
  </div>
</form>
