<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ninja</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul class="nav">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="SubForum" asp-action="Index">Software</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="AVHE">AVHE</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="Browser">Browser Support</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="DMLSS">DMLSS</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="Drives">Network Drives</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="Outlook">Outlook</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="SubForum" asp-action="Teams">Teams</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Computer" asp-action="Hardware">Hardware</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Computer" asp-action="CordsCables">Cords/Cables</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Computer" asp-action="Monitors">Monitors</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Computer" asp-action="CAC">Common Access Card</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Printer" asp-action="Index">Printer Troubleshooting</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Printer" asp-action="Usability">Usability</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Printer" asp-action="Parts">Parts</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Printer" asp-action="Admin">Printer Administration</a>
                            <ul>
                                <li>
                                    <a asp-area="" asp-controller="Printer" asp-action="Moves">Printer Moves</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Printer" asp-action="Guidelines">Printer Guidelines</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a asp-area="" asp-controller="GetToKnowUs" asp-action="Index">System BIOS</a>
                </li>
            </ul>
        </nav>
        <div class="nav-link">
            <a class="nav-link text-dark" asp-area="" asp-controller="Role" asp-action="Index">Role</a>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ninja - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
