/*navbar styling*/

nav {
    display: block;
    position: fixed;
    top: 0;
    background-color: #121212;
    z-index: 1;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav a {
    display: block;
    background: #121212;
    color: #f2f2f2;
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    position: relative;
}

.nav {
    vertical-align: top;
    display: inline-block;
}

.nav li {position: relative;}

.nav > li {
    float: left;
    border-bottom: 4px rgb(73, 73, 73) solid;
    margin-right: 1px;
}

.nav > li > a {
    margin-bottom: 1px;
}

.nav > li:hover , .nav > li:hover > a {border-bottom-color: yellow;}

.nav li:hover > a {color: yellow;}

.nav > li:first-child {border-radius: 4px 0 0 4px;}

.nav > li:first-child > a {border-radius: 4px 0 0 0;}

.nav > li:last-child {
    border-radius: 0 0 4px 0;
    margin-right: 0;
}

.nav > li:last-child > a {border-radius: 0 4px 0 0;}

.nav li li a {margin-top: 1px;}

.nav li a:first-child:nth-last-child(2):before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    top: 50%;
    right: 5px;
}

/*submenu positioning*/
.nav ul {
    position: absolute;
    white-space: nowrap;
    border-bottom: 5px solid yellow;
    z-index: 1;
    left: -99999em;
}

.nav > li:hover > ul {
    left: auto;
    padding-top: 5px;
    min-width: 100%;
}

.nav > li li ul {border-left: 1px solid #f2f2f2;}

.nav > li li:hover > ul {
    left: 100%;
    top: -1px;
}

/*arrow hovering style*/
.nav > li > a:first-child:nth-last-child(2):before {
    border-top-color: #aaa;
}

.nav > li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-bottom-color: yellow;
    margin-top: -5px;
}

.nav li li > a:first-child:nth-last-child(2):before {
    border-left-color: #aaa;
    margin-top: -5px;
}

.nav li li:hover > a:first-child:nth-last-child(2):before {
    border: 5px solid transparent;
    border-right-color: yellow;
    right: 10px;
}